# Data
data/
notebooks/
*.paidiverpy_cache/*
*output/*
output/
examples/examples_notebooks/output/*
examples/examples_notebooks/*.yaml
examples/examples_notebooks/*.yml
benchmark_*.json
benchmark_*.png
test_examples/*
examples/examples_notebooks/workshop/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
build/
_build/
docs/_build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.python-version
cover/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
credentials.json

# ruff
.ruff_cache/

# pixi environments
.pixi
*.egg-info
